.sponsors {
  p {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
    text-transform: uppercase;
  }
  img {
    width: 150px;
    margin: 0 1rem;
  }
  .icons {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  img:hover {
    border-radius: 50%;
    border: 4px solid red;
  }
  .dev {
    img:hover {
      border-radius: 0%;
      border: 4px solid red;
    }
  }
  .join {
    font-size: inherit;
    text-transform: inherit;
  }
  a {
    text-decoration: underline;
  }
}
