html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #d21f26;
	background-image: url('background.png');
	text-align: center;
}

h1, h2 {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: #fff;
}

h1 {
	padding: 0;
	font-weight: 700;
	font-size: 4em;
}

h1.large {
	font-size: 5em;
}

h2 {
	padding: 0;
}

h2.thin {
	font-weight: 400;
}

p, h3 {
	margin: 0;
	padding: 0;
}

a, a:visited {
	transition: color .25s;
	color: #bbb;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

#header {
	z-index: 2;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #000;
	color: #fff;
}

#header p {
	margin: 0.5em;
}

#header a {
	margin: 0 0.5em;
}

#logo {
	margin-bottom: -4em;
}

#logo img {
	width: 8em;
}

#wrap {
	width: 100%;
}

#top {
	padding-top: 4em;
}

.button {
	transition: all 0.25s ease;
	margin: 5px auto;
	padding: 0.25em 1em;
	font-size: 1.25em;
	color: #fff;
	border-radius: 0.5em;
	background-color: #222; 
	border-color: #000;
	border-style: solid;
	outline: none;
	cursor: pointer;
	box-shadow: inset 0 0.25em 1em #444;
}

.button:hover {
	background-color: #777;
}

#quickinfo {
	width: 100%;
	background-image: url("city.png");
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	padding-top: 3em;
	padding-bottom: 2em;
	text-shadow: 2px 2px 12px #333;
}

#quickinfo p {
	color: #fff;
	margin-top: 0.5em;
}


.content {
	padding: 4em 1em;
}

.faqItem {
	text-align: left;
	color: #fff;
	padding: 1em;
	margin: 0.5em;
	background-color: #000;
	border-radius: 0.5em;
}

.faqItem p {
	margin-top: 0.5em;
}

#sponsors, #affiliates {
	background-color: #000;
	color: #888;
}

.wideImage {
	display: inline-block;
	height: 12em;
	margin: 0.25em;
	border-radius: 50%;
}

.smallImage {
	display: inline-block;
	height: 6em;
	margin: 0.25em;
	border-radius: 50%;
}

.icons {
	width: 100%;
	border-radius: 50%;
}

.icons li img {
	width: 1em;
	padding: 0.5em;
}

.icons li img {
	width: 2em;
	padding: 0;
}

a img {
	transition: all 0.5s ease;
}

a img:hover {
	opacity: .75;
}

#footer {
	color: #fff;
	margin-bottom: 1em;
}
