html, body {
    margin: 0;
    padding: 0;
	background-color: #f33;
	text-align: center;
	font-size: 1.25em;
}

p, h1, h2 {
    font-family: Helvetica, sans-serif;
    text-shadow: 1px 1px 4px #333;
	margin: 0;
	padding: 0;
}

p, h2 {
	color: #fff;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    color: #f33;
}

h2 {
	font-size: 2em;
	margin-bottom: 1em;
}

#wrap {
    width: 100%;
    margin: auto;
}

#header {
    background-color: #444;
	padding: 2em 0;
}

.content {
	margin-top: 2em;
	padding: 2em;
}

#mc_embed_signup {
	clear:left;
}

#mc_embed_signup input {
	margin: auto;
}

input[type=email] {
	font-size: 1.5em;
	text-align: center;
	border-radius: 0.25em;
}

#mc_embed_signup .button {
	font-size: 1.5em;
	padding: 0.25em 1em;
	height: auto;
	border-radius: 0.25em;
}

#footer {
	padding: 2em 0;
}
