
*, *:after, *:before  {
outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:0;
	margin:0;
}

html {
	text-align: center;
	color: #191d29;
	background-color: #535d69;
	overflow-y: scroll;
	overflow-x: hidden;
}

p {
	font-family: 'Open Sans';
	font-size: 1.2em;
}

h1 {
	font-family: 'Arvo';
}

h2 {
	font-family: 'Arvo';
	margin: 0;
	padding: 0;
	font-size: 3em;
}

h3 {
	font-family: 'Arvo';
	margin: 0;
	padding: 0.25em;
	font-size: 1.5em;
}

a {
	display: inline-block;
	transition: all 0.2s;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 2px 7px #000;
}

a:hover {
	color: #f6dc6c;
}

#mlh-trust-badge {
	transition: all 0.2s;
	position: fixed;
	top: 0;
	right: 50px;
	max-width: 100px;
	width: 10%;
	min-width: 60px;
	display: block;
	z-index: 10000;
}

#header { 
	z-index: 10;
	transition: all 0.2s;
	position: fixed;
	margin: -1em 0 0;
	padding: 0.5em;
}

#header a {
	margin: 0 .5em;
}

.signup {
	font-size: 3em;
	font-weight: bold;
}

.mentor-signup {
	background-color: #191d29;
	color: #535d69;
	padding: 0.25em 0.5em;
	font-size: .75em;
	font-weight: bold;
	border: solid 1px #535d69;
	border-radius: 0.5em;
	text-shadow: none;
}

.mentor-signup:hover {
	color: #191d29;
	background: none;
	border: solid 1px #191d29;
}

.tag {
	height: 1px;
}

.content:first-of-type {
	margin-top: 4em;
}

.content {
	position: relative;
	z-index: 2;
	width: 90%;
	margin: 6em auto;
	padding: 2em;
	background-color: #191d29;
	color: #535d69;
}

.content:before {
	z-index: -1;
	content: '';
	position: absolute;
	left: 0;
	top: -4em;
	width: 100%;
	height: 8em;
	transform: skewY(-2deg);
	-moz-transform: skewY(-2deg);
	-webkit-transform: skewY(-2deg);
	background-color: #191d29;
}

.content:after {
	z-index: -1;
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: -4em;
	width: 100%;
	height: 8em;
	transform: skewY(-2deg);
	-moz-transform: skewY(-2deg);
	-webkit-transform: skewY(-2deg);
	background-color: #191d29;
}

.content > h2 {
	color: #f05c2d;
	margin-bottom: 1em;
}


#top {
	height: 50em;
	margin-bottom: -44em;
	background: linear-gradient(to bottom, rgba(25,29,41, 1) 0%, rgba(25,29,41, 0) 100%);
}

#logo {
	width: 50%;
	max-width: 30em;
}

.faqItem {
	transition: all 0.2s;
	cursor: pointer;
	margin: 1em 3em;
}

.faqItem:first-child {
	margin-top: 0;
}

.faqItem:hover {
	color: #aaa;
}

.faqItem .icon {
	display: inline-block;
	margin-right: 0.5em;
	opacity: 0.5;
	-moz-opacity: 0.5;
	transition: all 0.25s;
	-moz-transition: all 0.25s;
}

.active .icon {
	transform: scale(0.75) rotate(-90deg);
	-moz-transform: scale(0.75) rotate(-90deg);
	-webkit-transform: scale(0.75) rotate(-90deg);
}

.clear {
	clear: both;
}

.time {
	transition: all 0.2s;
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 0.5em;
	color: #fff;
	background-color: #535d69;
}

.time:hover {
	background-color: #fff;
	color: #535d69;
}

.time h3 {
	position: absolute;
	margin: 0.5em;
}

.time p {
	margin: 0.5em 2em;
	padding: 0.5em 1.5em;
}

#map {
	display: block;
	width: 100%;
	height: 40em;
	max-width: 800px;
	padding: 1em;
	margin: auto;
	background-color: #fff;
	box-shadow: 1px 3px 7px #000;
}

.sponsor {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	opacity: 0.8;
	width: 10em;
}

.titleSponsor {
	width: 15em;
}

.sponsor:hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	opacity: 1;
}

.sponsor img {
	width: 100%;
}

.social .icon {
	display: inline-block;
	margin: 0.5em;
	font-size: 2em;
}

.social .icon:hover {
	margin-left: 0.75em;
	margin-right: 0.75em;
}

@media screen and (min-width: 1024px) {
	.left {
		padding-left: 4em;
		margin-left: -2em;
	}

	.right {
		padding-right: 4em;
		margin-right: -2em;
	}
	
	.time p {
		
	}
}

@media screen and (max-width: 1023px) {
	#mlh-trust-badge {
		right: 8px;
	}
	
	.mentor-signup {
		font-size: 1em;
	}
	
	.faqItem {
		margin: 1em;
	}
	
	.time h3 {
		position: relative;
		float: none;
	}
	
	#map {
		height: 20em;
	}
	
	.social .icon {
		font-size: 1.5em;
		margin: 0.5em;
	}
	
	.social .icon:hover {
		margin-left: 0.6em;
		margin-right: 0.6em;
	}
	
	#quickinfo {
		font-size: .8em;
	}
}

@media screen and (max-width: 800px) {
	html {
		font-size: .8em;
	}
	
	#header p{
		padding-right: 70px;
	}
	
	.social .icon {
		margin: 0.25em;
	}
	
	.social .icon:hover {
		margin-left: 0.4em;
		margin-right: 0.4em;
	}
}

@media screen and (max-width: 380px) {
	h2 {
		font-size: 1.7em;
	}
	
	.sponsor {
		width: 10em;
	}
}