html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #d21f26;
	background-image: url('background.png');
	background-attachment: fixed;
	text-align: center;
}

h1, h2 {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: #fff;
}

h1 {
	font-size: 3em;
}

p, h3 {
	margin: 0;
	padding: 0;
}

a, a:visited {
	transition: color .25s;
	color: #bbb;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

li {
	display: inline-block;
	margin: 0.25em;
	padding: 0.25em;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #000;
	color: #fff;
}

#logo {
	margin-bottom: -4em;
}

#logo img {
	width: 8em;
}

#wrap {
	width: 100%;
}

#top {
	padding-top: 4em;
}

#quickinfo {
	width: 100%;
	background-image: url("city.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	padding-top: 3em;
}

#quickinfo p {
	margin-top: 2em;
}


.content {
	margin: 1em;
	padding: 4em 2em;
}

.faqItem {
	text-align: left;
	margin: 1em;
	padding: 1em;
	color: #fff;
	background-color: #555;
	border-radius: 0.5em;
	box-shadow: inset 0 0 1em #000;
}

.wideImage {
	display: inline-block;
	height: 12em;
	margin: 0.25em;
}

.icons {
	width: 100%;
}

.icons li img {
	width: 1em;
	padding: 0.5em;
}

.icons li img {
	width: 2em;
	padding: 0;
}

#footer {
	color: #fff;
	margin-bottom: 1em;
}
