.hero {
  display: block;
  text-align: center;
  background-image: url("/images/background.png");
  width: 100%;
  color: white;
  p {
    margin: 1rem 0;
  }
  .content {
    padding: 5rem 0;
    margin: 0 auto;
    img {
      max-width: 430px;
      width: 100%;
      height: auto;
      padding: 0 1rem;
    }
  }
}
