body {
	font-family: Open Sans, Sans-Serif;
	margin: 0;
	padding: 0;
	color: #fff;
	background-color: #535d69;
	text-align: center;
	font-size: 1.2em;
}

h1 {
	font-family: Arvo;
}

h2 {
	font-family: Arvo;
	color: #f05c2d;
}

h3 {
	font-family: Arvo;
	padding: 0;
	margin-top: 0;
	margin-bottom: 1em;
}

h4 {
	font-family: Arvo;
	color: #fff;
	margin-top: 0;
	font-size: 1.5em;
}

p {
	padding: 0;
	margin: 0;
}

a, a:visited{
	transition: all .2s;
	text-decoration: none;
	font-weight: bold;
	color: #F6DC6C;
}

a:hover {
	color: #FFF;
}

#calendar {
	z-index: 3;
	transition: all .2s;
	position: fixed;
	float: left;
	left: -320px;
	top: 0;
	min-width: 320px;
	width: 25%;
	height: 100%;
	border-width:0;
	margin: 0;
	padding: 0;
	box-shadow: 1px 1px 0 #012;
}

.open {
	position: absolute;
	left: 0 !important;
}

.hideToggle {
	transition: rotate .2s;
	position: absolute;
	left: 320px;
	top: 4px;
	padding: 8px;
	margin-bottom: -32px;
	margin-right: -32px;
	color: #fff;
	background-color: #191d29;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 1px -1px 0 #012,
				1px 1px 0 #012;
}

.hideToggle span {
	font-size: 0.5em;
	font-weight: 700;
	transition: all .2s;
}

.hideToggle span:hover {
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	cursor: pointer;
}

#wrap {
	transition: all .2s;
	padding-top: 1em;
}

.content {
	position: relative;
	z-index: 2;
	width: 90%;
	margin: 0.5em auto 1em;
	padding: 1em;
	background-color: #191d29;
	color: #535d69;
}

.content:before {
	z-index: -1;
	content: '';
	position: absolute;
	left: 0;
	top: -2em;
	width: 100%;
	height: 4em;
	transform: skewY(-2deg);
	-moz-transform: skewY(-2deg);
	-webkit-transform: skewY(-2deg);
	background-color: #191d29;
}

.content:after {
	z-index: -1;
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: -2em;
	width: 100%;
	height: 4em;
	transform: skewY(-2deg);
	-moz-transform: skewY(-2deg);
	-webkit-transform: skewY(-2deg);
	background-color: #191d29;
}

.content > h2 {
	color: #f05c2d;
	margin-bottom: 0.5em;
}

.emptySpace {
	padding: 2em;
}

.sponsor {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	opacity: 0.8;
	width: 6em;
	margin: 0.5em;
}

.sponsor:hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	opacity: 1;
}

.sponsor img {
	width: inherit;
}

.sponsorT2 {
    width: 3em;
}

.food {
	width: 3em;
}

#header {
	padding: 2em 0;
}

#header img {
	width: 50%;
	max-width: 12em;
	min-width: 8em;
	margin: 0 2em;
}

#twitter {
	margin: 4em auto;
}

iframe[id^='twitter-widget-0'] {
	height:600px !important;
	margin-bottom:10px !important;
	width:90% !important;
}

a.twitter-timeline {
	background-color: #191d29;
}

.shift {
	left: 0px;
}

#emergency {
	padding: 1em;
	background-color: #191d29;
	border-radius: 8px;
}

#emergency p {
	font-size: 0.75em;
}

.stiff {
	display: inline-block;
}

#footer {
	margin: 4em auto 2em;
}

@media screen and (min-width: 996px) {
	.hideToggle {
		display: none;
	}
}

@media handheld, screen and (max-device-width: 995px){
	body {
		font-size: 1.5em;
	}

	#calendar {
		font-size: 2em;
	}

	.hideToggle {
		display: inline-block;
	}

	#wrap {
		padding-top: 0.25em;
	}
	.sponsor {
		width: 6em;
		margin: 0.25em;
	}
}
